/* Event page */



@charset "utf-8";
.backevent {
  background: url("https://i.pinimg.com/originals/c0/b8/ce/c0b8ce608b5eebeb2453f6c8e675a1ef.gif")
    no-repeat center center fixed;
  background-size: cover;
}
.backevent {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
footer {
  text-align: center;
}
#efeitologo {
  transition: all 0.5s;
  cursor: pointer;
}

#efeitologo:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
#efeitoprojeto {
  transition: all 1s;
  cursor: pointer;
}

#efeitoprojeto:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
#efeito {
  position: relative;
  top: 0;
  padding: 4px;
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}
#efeito:hover {
  top: -4px;
  box-shadow: 0 4px 3px #999;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
} */

.backevent {
  height: 100%;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
.maincla  {
  min-height: unset;
}
.backevent {
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.text-break {
  display: none;
}
.container-wrapper {
  padding: 2rem 1.5rem;
  max-width: 1150px;
}
.section-title {
  position: relative;
  color: #3c86f9;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.section-title.--top-decoration::before {
  position: absolute;
  top: 20px;
  right: 50px;
  content: "";
  height: 25px;
  width: 100px;
  display: block;
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/title-decoration.1616501197.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.section-title.--bottom-decoration {
  margin-bottom: 5rem;
  text-align: center;
}
.section-title.--bottom-decoration::after {
  position: absolute;
  top: 20px;
  right: 50px;
  content: "";
  height: 25px;
  width: 100px;
  display: block;
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/title-decoration.1616501197.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 80px;
  right: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.--instagram-logo {
  width: 35px;
  border-radius: 100%;
}
.code-container {
  margin-bottom: 1.5rem;
  font-family: "Roboto Mono", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(60, 134, 249, 0.8225665266106442) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 4px;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.code-container__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1rem;
}
.code-container__buttons span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0.15rem;
  border-radius: 100%;
}
.code-container__buttons span.--red {
  background-color: #ff5f56;
}
.code-container__buttons span.--yellow {
  background-color: #ffbd2c;
}
.code-container__buttons span.--green {
  background-color: #2cc93f;
}
.blue-line {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background-color: #3c86f9;
  box-shadow: 0 1px 5px 0.1px rgba(49, 185, 255, 0.46);
}
.code-pink {
  color: #e92767;
}
.code-blue {
  color: #00d4ee;
}
.code-green {
  color: #00e200;
}
.section-title-block {
  display: inline-block;
}
@keyframes blink {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background: #fff;
  }
}
.technologies-taught__video {
  margin-top: 2rem;
  width: 100%;
}
.register-banner {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
}
.register-banner__info {
  text-align: center;
}
.register-banner__text {
  font-size: 0.85rem;
}
.register-banner__text strong {
  display: block;
}
.register-banner__call-to-action {
  display: block;
}
.opening {
  position: relative;
  margin: 0;
  padding: 1.5rem;
  min-height: 400px;
  background-image: url(https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-078cdcb3f1d3.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.opening__break {
  display: none;
}
.opening__title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}
.opening__title::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 30px;
  background-color: white;
  animation: blink 0.8s step-end infinite;
}
.opening__logo {
  width: 150px;
  max-width: unset;
}
.opening__call-to-action {
  position: absolute;
  width: 90%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(60, 134, 249, 1) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.opening__form-subtitle {
  display: inline-block;
  width: 80%;
  padding: 0.5rem;
  margin: 1rem 0;
  color: #000;
  background-color: #fff;
  font-weight: bold;
}
.opening__form-input {
  width: 80%;
  margin: 0.5rem;
  padding: 1rem 2.5rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #030507;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.opening__form-input:focus {
  outline: none;
  border: 1px solid #000000;
}
.opening__form-input::placeholder {
  color: white;
  padding-right: 1rem;
}
.opening__form-input.--user {
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/icon-person.1616501197.svg);
  background-repeat: no-repeat;
  background-position: top 50% left 5%;
  background-size: 15px;
}
.opening__form-input.--email {
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/icon-email.1616501197.svg);
  background-repeat: no-repeat;
  background-position: top 50% left 5%;
  background-size: 15px;
}
.opening__btn-submit {
  width: 80%;
  margin: 1.5rem;
  padding: 0.85rem;
  border: none;
  border-radius: 4px;
  background-color: #3c86f9;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.opening__btn-submit:hover {
  background-color: #3d6dba;
}
.about-event {
  background-color: #060b37;
  background-image: linear-gradient(to top, #182131 84%, #09286b 196%);
  position: relative;
  padding-top: 150px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3rem;
}
.about-event > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
.about-event__description {
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.about-event__steps {
  position: relative;
  z-index: 10;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(60, 134, 249, 1) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.about-event__step {
  padding: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-weight: bold;
}
.about-event__step img {
  height: 40px;
  width: 40px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.34);
  padding: 0.65rem;
  margin-right: 0.5rem;
  background-color: #071e4f;
  border-radius: 4px;
}
.schedule {
  position: relative;
  padding-bottom: 0;
}
.background-decoration {
  top: 0;
  padding: 0;
  position: absolute;
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/img-principal-bg-copy.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.schedule__list li:last-child::before {
  content: none;
}
.schedule__item {
  position: relative;
  padding-left: 1.5rem;
}
.schedule__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  margin-top: 1.5rem;
  background-color: #3c86f9;
  box-shadow: 0 1px 5px 0.1px rgba(49, 185, 255, 0.46);
  height: 100%;
  width: 1px;
}
.schedule__item-decoration {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #3c86f9;
  border-spacing: 20px;
  box-shadow: 0 1px 5px 0.1px rgba(49, 185, 255, 0.46);
}
.schedule__item-decoration::before {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  content: "";
  background-color: #3c86f9;
  border-radius: 100%;
  display: block;
  height: 10px;
  width: 10px;
}
.schedule__item-title {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}
.code-container__description::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  margin-left: 2px;
  height: 15px;
  width: 5px;
}
.technologies-taught {
  padding-left: 0;
  padding-right: 0;
}
.technologies-taught div:nth-child(2) > ol > li {
  margin-top: unset;
}
.technologies-taught div:nth-child(2) > ol li:nth-child(3) {
  padding-bottom: 1rem;
}
.technologies-taught__list {
  padding: 0.5rem;
  position: relative;
}
.technologies-taught__list::before {
  content: "";
  display: block;
  height: 100%;
  width: 0.5px;
  background-color: #1e1e1e;
  position: absolute;
  left: 40px;
  top: 0;
}
.technologies-taught__list li:last-child {
  margin-bottom: unset;
}
.technologies-taught .section-title {
  padding: 0 1.5rem;
}
.technologies-taught__code-container {
  background-color: #000;
  padding-left: 1.5rem;
}
.technologies-taught__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 1rem 0;
}
.technologies-taught__number {
  margin-right: 1rem;
  padding-right: 0.5rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: lighter;
}
.technologies-taught__text {
  font-family: "Roboto Mono", sans-serif;
}
.students-feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 0;
  position: relative;
}
.intro {
  position: relative;
}
.intro iframe {
  display: block;
}
.students-feedback .section-title {
  text-align: center;
}
.students-feedback::before,
.intro::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  height: 400px;
  width: 600px;
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/blue-blur.1616501197.svg);
  background-size: contain;
  background-position: left 50% bottom 30%;
  background-repeat: no-repeat;
}
.students-feedback__video-container,
.intro__video-container {
  margin: 0 auto;
  position: relative;
}
.instructors .section-title {
  text-align: center;
}
.instructors__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #000;
  border-radius: 4px;
  font-family: "Roboto Mono", sans-serif;
}
.instructors__photo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.instructors__name {
  margin: 1rem 0;
}
.instructors__description {
  text-align: center;
}
.instructors__links-wrapper {
  margin-top: 1.5rem;
}
.instructors__links-wrapper > * {
  margin: 0 0.5rem;
}
.call-to-action__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.85);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(60, 134, 249, 0.8225665266106442) 51%,
    rgba(255, 255, 255, 0) 100%
  );
}
.call-to-action__form input,
.call-to-action__form button {
  width: 90%;
}
.call-to-action__input {
  color: #fff;
  margin: 1rem;
  background-color: unset;
  border: 2px solid #000;
  padding: 1rem 2.5rem;
  border-radius: 4px;
}
.call-to-action__input::placeholder {
  color: white;
}
.call-to-action__input:focus {
  outline: none;
  border: 2px solid #071e4f;
}
.call-to-action__input.--user {
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/icon-dark-person.1616501197.svg);
  background-repeat: no-repeat;
  background-position: top 50% left 5%;
  background-size: 15px;
}
.call-to-action__input.--email {
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/icon-dark-email.1616501197.svg);
  background-repeat: no-repeat;
  background-position: top 50% left 5%;
  background-size: 15px;
}
.call-to-action__title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto Mono", sans-serif;
}
.call-to-action__info {
  margin: 0.5rem 0;
  font-weight: lighter;
}
.call-to-action__btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 0.85rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.faq .section-title {
  margin-top: 0;
  text-align: center;
}
.faq__title {
  margin-bottom: 3rem;
}
.faq__question-container {
  position: relative;
  border-top: 1px solid white;
}
.faq__arrow-decoration {
  display: block;
  height: 30px;
  width: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: -1;
}
.faq__question-toggle {
  display: none;
}
.faq__question-toggle:checked ~ .faq__arrow-decoration {
  fill: #3c86f9;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq__question-toggle:checked ~ .faq__question {
  color: #3c86f9;
}
.faq__question-toggle:checked ~ .faq__answer {
  opacity: 1;
  height: auto;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  margin-bottom: 3rem;
}
.faq__question-toggle:checked ~ .faq__answer > * {
  height: auto;
}
.faq__question {
  padding: 2rem 3rem 2rem 0rem;
  padding-right: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.faq__answer {
  height: 0;
  opacity: 0;
  font-size: 1rem;
  padding-right: 4rem;
}
.faq__answer > a {
  color: #3c86f9;
}
.faq__answer > * {
  height: 0;
}
.footer {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}
.footer::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/footer-background-desktop.1616501197.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
  background-blend-mode: overlay;
}
.footer__call-to-action-banner {
  padding: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(60, 134, 249, 0.8225665266106442) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 4px;
}
.footer__call-to-action-logo {
  max-width: unset;
  width: 130px;
  height: 30px;
}
.footer__call-to-action-message {
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  color: #3c86f9;
  margin-bottom: 1rem;
}
.footer__call-to-action-link {
  display: block;
  background-color: #3c86f9;
  padding: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.footer__links-wrapper {
  z-index: 5;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.footer__links-wrapper img {
  height: 40px;
  width: 60px;
}
.text-break.--mobile {
  display: block;
}
.desktop-background.--registration::before {
  background-position: center;
}
.registration {
  padding: 3rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.registration__title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.registration__tips {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
}
.registration__message {
  text-align: center;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 1px solid #3c86f9;
  box-shadow: 0 1px 5px 0.1px rgba(49, 185, 255, 0.46);
  font-size: 1.25rem;
  text-transform: uppercase;
}
.registration__step {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}
.registration__step a {
  color: #ffbd2c;
  font-weight: bold;
}
.registration__step-number {
  display: inline-block;
  padding: 4px 14px;
  background-color: #3c86f9;
  text-align: center;
  border-radius: 100%;
  margin: 1.5rem;
}
.registration__gmail-gif {
  display: none;
  max-width: 700px;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.51);
}
@media (min-width: 500px) {
  .register-banner__text {
    font-size: 1rem;
  }
}
@media (min-width: 400px) {
  .text-break.--medium {
    display: block;
  }
  .section-title.--bottom-decoration::after {
    top: 50px;
  }
  .faq > .section-title::after,
  .instructors > .section-title::after,
  .students-feedback > .section-title::after {
    top: 80px;
  }
}
@media (min-width: 500px) {
  .about-event__step img {
    margin-right: 1rem;
  }
  .students-feedback__video-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .students-feedback__video-container iframe {
    margin: 0.5rem auto;
    width: 80%;
  }
  .intro__video-container {
    width: 80%;
    max-width: 650px;
    margin: 1rem auto;
  }
  .intro::before {
    width: 100%;
  }
  .instructors__card {
    padding: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) {
  .opening__title {
    font-size: 1.5rem;
  }
  .opening__call-to-action {
    width: 80%;
  }
  .about-event {
    padding-top: 180px;
  }
  .call-to-action__form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 750px) {
  .opening__logo {
    width: 180px;
  }
  .opening__title {
    font-size: 2rem;
  }
  .blue-line {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .desktop-background {
    background-color: #050b37;
  }
  .about-event {
    background-color: unset;
    background-image: unset;
  }
  .section-title {
    font-size: 1.875rem;
  }
  .section-title.--top-decoration::before {
    left: 300px;
    width: 140px;
    height: 140px;
  }
  .section-title.--bottom-decoration::after {
    top: 100px;
    width: 140px;
    height: 140px;
  }
  .about-event__description {
    font-size: 1.25rem;
  }
  .text-break.--tablet {
    display: block;
  }
  .text-break {
    display: block;
  }
  .code-container {
    max-width: 500px;
  }
  .schedule__item {
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
  }
  .schedule__item::before {
    height: calc(100% - 1.5rem);
  }
  .schedule__item-title {
    font-size: 1.25rem;
  }
  .register-banner {
    background-color: transparent;
  }
  .register-banner__text strong {
    display: inline;
  }
  .background-decoration {
    display: none;
  }
  .container-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-background {
    position: relative;
    background-image: linear-gradient(to top, #182131 84%, #09286b 196%);
  }
  .desktop-background::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/img-principal-bg1.1616501197.jpg);
    background-position: top 40% left 50%;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
  }
  .about-event__step {
    -webkit-box-align: center;
    align-items: center;
  }
  .faq {
    margin-top: 3rem;
  }
  .faq__title {
    margin: 5rem 0;
    text-align: center;
  }
  .faq__title::before {
    margin: 0 auto;
  }
  .faq__answer {
    font-size: 1.15rem;
    padding-right: 10rem;
  }
  .faq__question {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    font-weight: 800;
    font-size: 1.15rem;
  }
  .faq__more-questions {
    position: relative;
    margin: 1.5rem auto;
    font-size: 1.25rem;
    text-align: center;
    max-width: 80%;
  }
  .registration__gmail-gif {
    width: 80%;
    display: block;
  }
  .students-feedback__video-container iframe {
    width: 45%;
  }
  .footer::before {
    background-size: cover;
  }
}
@media (min-width: 900px) {
  .technologies-taught__video {
    margin-top: 0;
  }
  .opening__title {
    font-size: 1.8rem;
  }
  .opening__call-to-action {
    width: 65%;
  }
  .technologies-taught__code-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .technologies-taught__code-container {
    border-radius: 4px;
    margin: 0 1.5rem;
  }
  .technologies-taught__list {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.51);
  }
  .technologies-taught__list::before {
    width: 1.5px;
  }
  .technologies-taught__item {
    padding-right: 1.5rem;
  }
  .technologies-taught__number {
    padding-right: 1rem;
  }
}
@media (min-width: 1000px) {
  .register-banner {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .about-event {
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .register-banner {
    margin-left: auto;
    margin-right: auto;
  }
  .container-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-title.--top-decoration::before {
    left: 300px;
    width: 140px;
    height: 140px;
  }
  .section-title.--bottom-decoration::after {
    top: 100px;
    width: 140px;
    height: 140px;
  }
  .opening {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .opening__logo {
    width: 230px;
  }
  .opening__call-to-action {
    max-width: 400px;
    left: 80%;
    top: 30%;
  }
  .opening__title {
    width: 62%;
    margin-top: auto;
    font-size: 3rem;
  }
  .opening__break {
    display: block;
  }
  .about-event {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .about-event__description {
    width: 50%;
  }
  .about-event__description br {
    display: none;
  }
  .about-event__steps {
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
  }
  .about-event__steps img {
    width: 65px;
    height: 65px;
  }
  .about-event__step {
    -webkit-box-align: center;
    align-items: center;
  }
  .about-event__step-description {
    width: 55%;
  }
  .technologies-taught__code-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .technologies-taught__code-container {
    max-width: 500px;
    border-radius: 4px;
    margin: 0 1.5rem;
  }
  .technologies-taught__list {
    padding-top: 2.5rem;
    height: 100%;
    padding-bottom: 2.5rem;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.51);
  }
  .technologies-taught__item {
    padding-right: 2.5rem;
  }
  .technologies-taught__number {
    padding-right: 1rem;
  }
  .students-feedback .section-title {
    margin-top: 1rem;
  }
  .students-feedback::before {
    height: 100%;
    width: 100%;
  }
  .instructors .section-title {
    margin-top: 3rem;
  }
  .instructors__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .instructors__card {
    height: 450px;
    max-width: 400px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.34);
  }
  .instructors__links-wrapper {
    margin-top: auto;
  }
  .instructors__photo {
    height: 150px;
    width: 150px;
  }
  .call-to-action {
    max-width: 550px;
    max-height: 500px;
    margin-top: 3rem;
  }
  .call-to-action__title {
    font-size: 1.5rem;
    width: 80%;
  }
  .call-to-action__info {
    font-size: 1.25rem;
    margin: 2.5rem 0;
  }
  .call-to-action__input {
    font-size: 1.15rem;
    padding-left: 3rem;
  }
  .faq__text-break {
    display: none;
  }
  .faq .section-title {
    margin-bottom: 7rem;
  }
  .faq .section-title::after {
    top: 60px;
  }
  .footer {
    position: initial;
  }
  .footer-background {
    width: 100%;
    position: relative;
    padding-top: 5rem;
  }
  .footer::before {
    background-image: url();
    opacity: 1;
    background-size: cover;
  }
  .footer__call-to-action-banner {
    padding: 2.5rem;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.34);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .footer__call-to-action-logo {
    margin-bottom: 1.5rem;
  }
  .footer__call-to-action-info-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .footer__call-to-action-message {
    margin-right: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    width: 50%;
  }
  .desktop-background.--registration::before {
    background-position: top 50% left 30%;
  }
  .text-break.--mobile {
    display: none;
  }
  .registration {
    padding: 3rem;
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  .registration__title {
    font-family: "Roboto Mono", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .registration__message {
    margin: 1.5rem;
    padding: 1.5rem;
    border: 1px solid #3c86f9;
    box-shadow: 0 1px 5px 0.1px rgba(49, 185, 255, 0.46);
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .registration__step {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.25rem;
    width: 60%;
  }
  .registration__step-number {
    display: inline-block;
    padding: 8px 18px;
    background-color: #3c86f9;
    text-align: center;
    border-radius: 100%;
    margin: 1.5rem;
  }
  .registration__gmail-gif {
    width: 60%;
    max-width: 700px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.51);
  }
}
@media (min-width: 1200px) {
  .desktop-background::before {
    background-image: url(https://imersao.dev/assets/img/imersoes/dev-2021/img-principal-bigger.1616501197.jpg);
    background-size: 100%;
  }
}